@import '../../styles/colors.styl';

.c-main-section-title {
}

.c-main-section-title__icon-container {
  text-align center
}

.c-main-section-title__icon {
  display inline-block
  padding 0 25px
  position relative
  font-size 48px
  color: $common-text-color

  &::before,
  &::after {
    content ''
    display block
    width 55px
    border-top 2px solid $common-border-color
    position absolute
    top 50%
    transform translateY(-50%)
  }

  &::before {
    left -55px
  }

  &::after {
    right -55px
  }
}

.c-main-section-title__text {
  font-size 36px
  color: $common-text-color
  text-transform uppercase
  text-align center
  font-family 'Georgia'
}
