@import '../../styles/colors.styl';

$gallery-width = 100%;
$gallery-height = 450px;

.c-ours-plants {
  padding 70px 0
}

.c-ours-plants__section-icon {
  background url('../../resources/images/ours-plants.png') no-repeat center
  width 59px
  height 50px
  display block
}

.c-ours-plants__gallery {
  margin-top 40px
  height $gallery-height
}

.c-ours-plants__gallery-item {
  width ($gallery-width / 6)
  height ($gallery-height / 2)
}

.c-ours-plants__gallery-item--w-2 {
  width ($gallery-width / 3)
}

.c-ours-plants__gallery-item--h-2 {
  height ($gallery-height)
}