@import '../../styles/colors.styl';

$substrate-image-offset = 80px

.c-about-page__scene {
  background-image url('../../resources/style-images/header-about.jpg')
}

.c-about-page__icon {
  background url('../../resources/style-images/garder-about.png') no-repeat center
  width 60px
  height 56px;
  display block
}

.c-about-page__image {
  position relative
}

.c-about-page__substrate-image {
  position absolute
  z-index 1
}

.c-about-page__base-image-container {
  position relative
  box-sizing border-box
  padding 15px
  background-color $common-background-color
  border 1px solid $minor-border-color
  z-index 2
}

.c-about-page__image--left {
  float left
  margin-right ($substrate-image-offset + 30px)
  margin-bottom ($substrate-image-offset + 30px)

  .c-about-page__substrate-image {
    right -($substrate-image-offset)
    bottom -($substrate-image-offset)
  }
}

.c-about-page__image--right {
  float right
  margin-left ($substrate-image-offset + 30px)
  margin-bottom ($substrate-image-offset + 30px)

  .c-about-page__substrate-image {
    left -($substrate-image-offset)
    bottom -($substrate-image-offset)
  }
}

.c-about-page__garden-statistics {
  margin-bottom 40px
}
