@import '../../styles/colors.styl';
@import '~sprite.styl';

.c-garden-about {
  padding 70px 0
  font-family 'Open Sans'
  font-size 16px
}

.c-garden-about__section-icon {
  sprite($garder_about);
  display block
}

.c-garden-about__content {
  margin-top 50px;
  margin-bottom 30px;
  text-align justify
}
