@import '../../styles/colors.styl';
@import '~sprite.styl';

.c-garden-about {
  padding 70px 0
  font-family 'Open Sans'
  font-size 16px
}

.c-garden-about__section-icon {
  sprite($garder_about);
  display block
}

.c-garden-about__content {
  margin-top 50px;
  margin-bottom 30px;
  text-align justify
}

.c-garden-about__statistics-item {
  text-align center
}

.c-garden-about__statistics-icon-container,
.c-garden-about__statistics-count,
.c-garden-about__statistics-units {
  width 100%
}

.c-garden-about__statistics-icon {
  display inline-block
  position relative;
  width 65px;
  height 65px;
  border 1px solid $common-border-color
  border-radius 100%

  &::after {
    content ''
    display block
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
  }
}

.c-garden-about__statistics-icon--plants {
  &::after {
    sprite($stat_plants);
  }
}

.c-garden-about__statistics-icon--trees {
  &::after {
    sprite($stat_trees);
  }
}

.c-garden-about__statistics-icon--shrubs {
  &::after {
    sprite($stat_shrubs);
  }
}

.c-garden-about__statistics-icon--herbs {
  &::after {
    sprite($stat_herbs);
  }
}

.c-garden-about__statistics-count-value {
  font-size 48px
}

.c-garden-about__statistics-count-label {
  text-transform uppercase
}

.c-garden-about__statistics-units {
  font-style italic
  line-height 40px
}