include ../main-section-title/main-section-title.pug
include ../live-counter/live-counter.pug
include ../garden-statistics/garden-statistics.pug

mixin garder-about
    .container.c-garden-about
        +main-section-title('О саде', 'c-garden-about__section-icon')
        .row.c-garden-about__content
            p.
                Сад П.И.Травникова - ценнейший объект культурного и экологического наследия Москвы, единственная
                сохранившаяся ООПТ (особо охраняемая природная территория) в ЦАО. Сад создавался в 1957-58 годах,
                и за время своего существования вместе со своим создателем Павлом Ивановичем Травниковым был удостоен
                грамот, медалей и признания, в 1989 году получил статус памятника природы, созданного руками человека.
                Сразу выяснилось, что сад пребывает в запустении и женщину, ранее за ним ухаживающую, не видели уже
                больше года…
        .row
            +garden-statistics