.c-partnership-page__scene {
  background-image url('../../resources/images/header-partnership.jpg')
}

.c-partnership-page__icon {
  background url('../../resources/images/garder-about.png') no-repeat center
  width 60px
  height 56px;
  display block
}

.c-partnership-page__photo {
  float left
  margin-right 45px
}

.c-partnership-page__summing_up {
  font-style italic
  font-weight 700
  text-align center
}

.c-partnership-page__stamp {
  margin-top 35px
  height 200px
  background-position center
  background-repeat no-repeat
  background-image url('../../resources/images/garden-stamp.png')
}