mixin sidebar-social
    ul.sidebar-social
        li.sidebar-social__item.sidebar-social__item--vk
            a.sidebar-social__link.fa.fa-vk(href="")
        li.sidebar-social__item.sidebar-social__item--facebook
            a.sidebar-social__link.fa.fa-facebook(href="")
        li.sidebar-social__item.sidebar-social__item--tripadvisor
            a.sidebar-social__link.fa.fa-tripadvisor(href="")
        li.sidebar-social__item.sidebar-social__item--instagram
            a.sidebar-social__link.fa.fa-instagram(href="")