.feedback-form {
  font-size 16px
  text-align right
}

.feedback-form__field {
  width 100%
  margin-bottom 15px
  font-size 16px

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style italic
  }

  &::-moz-placeholder { /* Firefox 19+ */
    font-style italic
  }

  &:-ms-input-placeholder { /* IE 10+ */
    font-style italic
  }

  &:-moz-placeholder { /* Firefox 18- */
    font-style italic
  }

  &::placeholder {
    font-style italic
  }
}