@import '../../styles/colors.styl'

$sketch-offset = 80px

.c-sketched-image {
  position relative
}

.c-sketched-image__sketch {
  position absolute
  z-index 1
}

.c-sketched-image__image {
  position relative
  z-index 2
}

.c-sketched-image--left {
  float left
  margin-right ($sketch-offset + 30px)
  margin-bottom ($sketch-offset + 30px)

  .c-sketched-image__sketch {
    right -($sketch-offset)
    bottom -($sketch-offset)
  }
}

.c-sketched-image--right {
  float right
  margin-left ($sketch-offset + 30px)
  margin-bottom ($sketch-offset + 30px)

  .c-sketched-image__sketch {
    left -($sketch-offset)
    bottom -($sketch-offset)
  }
}
