@import '../../../../styles/colors.styl';
@import '../../../../styles/sizes.styl';

.c-news-subscription {
  width 100%
  background $accent-background-color
  height auto
  padding 70px 0 35px
  @media screen and (min-width $notebook-width){
    height 254px
    background url('../../../../resources/style-images/news-subscription.jpg') center fixed no-repeat
    background-size cover
  }
}

.c-news-subscription__section-title-container {
  text-align center
  margin-bottom 35px
}

.c-news-subscription__section-title {
  position relative
  font-family 'Georgia'
  font-size 36px
  color $accent-text-color
  text-transform uppercase

  &::after {
    content ''
    display block
    width 120px;
    height 1px;
    border-top 2px solid $accent-border-color
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
  }
}

.c-news-subscription__subscription-form {

  text-align center

  div{
    margin-bottom 35px
  }
  @media screen and (min-width $landscape-tablet-width){
    text-align left
  }
  @media screen and (min-width $notebook-width){
    display flex
    align-items center
  }
}

.c-news-subscription__subscription-label {
  font-family 'Open Sans'
  font-size 16px
  color $accent-text-color
}

.c-news-subscription__subscription-email {

}

.c-news-subscription__subscribe_button {

}