@import '../../styles/colors.styl';

.c-flowering-plants-page__scene {
  background-image url('../../resources/style-images/header-flowering-plants.jpg')
}

.c-flowering-plants-page__icon {
  background url('../../resources/style-images/ours-plants.png') no-repeat center
  width 59px
  height 50px
  display block
}

.c-flowering-plants-page__plants {
  margin-top 50px
  margin-bottom 35px
}

.c-flowering-plants-page__more-plants {
  text-align center
}