@import '../../styles/colors.styl';

.c-flowering-plants-page__scene {
  background-image url('../../resources/style-images/header-flowering-plants.jpg')
}

.c-flowering-plants-page__icon {
  background url('../../resources/style-images/ours-plants.png') no-repeat center
  width 59px
  height 50px
  display block
}

.c-flowering-plants-page__plants {
  margin-top 50px
  margin-bottom 35px
}

.c-flowering-plants-page__plant {
  margin-bottom 30px
  padding 15px
  text-align center
  border 1px solid $minor-border-color
}

.c-flowering-plants-page__plant-image-container {
  position relative
  width 100%
  margin-bottom 15px

  &:hover {
    .c-hovered-flower {
      opacity 1
      transform scale(1)
    }
  }
}

.c-flowering-plants-page__plant-image {
  width 100%
}

.c-flowering-plants-page__plant-link {
  background url("../../resources/style-images/plus.png") no-repeat center

  &::before {
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
  }
}

.c-flowering-plants-page__plant-name {
  font-family 'Georgia'
  font-size 18px
  margin-top 15px

  &::after {
    content ''
    display block
    width: 50px;
    height: 1px;
    margin: 15px auto 0 auto;
    background-color $minor-border-color
  }
}

.c-flowering-plants-page__plant-latin-name {
  font-family 'Georgia'
  font-size 14px
  font-style italic
  margin 15px 0
}

.c-flowering-plants-page__more-plants {
  text-align center
}