.c-about-romanova-page__scene {
  background-image url('../../resources/style-images/header-about.jpg')
}

.c-about-romanova-page__icon {
  background url('../../resources/style-images/garder-about.png') no-repeat center
  width 60px
  height 56px;
  display block
}

.c-about-romanova-page__right-photo {
  float right
  margin 50px 0 50px 50px
}

.c-about-romanova-page__photos-archive {
  margin-top 70px
}