@import '../../styles/colors.styl';

.c-garden-statistics {
  overflow hidden
}

.c-garden-statistics__item {
  text-align center
}

.c-garden-statistics__icon-container,
.c-garden-statistics__count,
.c-garden-statistics__units {
  width 100%
}

.c-garden-statistics__icon {
  display inline-block
  position relative;
  width 65px;
  height 65px;
  border 1px solid $common-border-color
  border-radius 100%

  &::after {
    content ''
    display block
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    width 20px
    height 20px
    background-repeat no-repeat
    background-position center
  }
}

.c-garden-statistics__icon--plants {
  &::after {
    background-image url('../../resources/images/stat-plants.png')
  }
}

.c-garden-statistics__icon--trees {
  &::after {
    background-image url('../../resources/images/stat-trees.png')
  }
}

.c-garden-statistics__icon--shrubs {
  &::after {
    background-image url('../../resources/images/stat-shrubs.png')
  }
}

.c-garden-statistics__icon--herbs {
  &::after {
    background-image url('../../resources/images/stat-herbs.png')
  }
}

.c-garden-statistics__count-value {
  font-size 48px
}

.c-garden-statistics__count-label {
  text-transform uppercase
}

.c-garden-statistics__units {
  margin-top 10px
  font-style italic
}