$common-background-color = #fff
$accent-background-color = #367622
$minor-background-color = #333333
$hover-background-color = rgba(54,117,34,0.55);

$common-text-color = #367622
$accent-text-color = #fff
$minor-text-color = #fff

$common-border-color = #367622
$accent-border-color = #fff
$minor-border-color = #eaeaea;

$main-text-color = #301f0d;

$download-text-color = #ff0000