@font-face {
  font-family: 'Open Sans Bold';
  src:  url('../resources/fonts/opensans-bold.eot');
  src:  url('../resources/fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/opensans-bold.woff2') format('woff2'),
        url('../resources/fonts/opensans-bold.woff') format('woff'),
        url('../resources/fonts/opensans-bold.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src:  url('../resources/fonts/opensans-regular.eot');
  src:  url('../resources/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/opensans-regular.woff2') format('woff2'),
        url('../resources/fonts/opensans-regular.woff') format('woff'),
        url('../resources/fonts/opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Italic';
  src:  url('../resources/fonts/opensans-italic.eot');
  src:  url('../resources/fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/opensans-italic.woff2') format('woff2'),
        url('../resources/fonts/opensans-italic.woff') format('woff'),
        url('../resources/fonts/opensans-italic.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src:  url('../resources/fonts/opensans-semibold.eot');
  src:  url('../resources/fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
        url('../resources/fonts/opensans-semibold.woff2') format('woff2'),
        url('../resources/fonts/opensans-semibold.woff') format('woff'),
        url('../resources/fonts/opensans-semibold.svg#Open Sans semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src:  url('../resources/fonts/Georgia.eot');
  src:  url('../resources/fonts/Georgia.eot?#iefix') format('embedded-opentype'),
          url('../resources/fonts/Georgia.woff2') format('woff2'),
          url('../resources/fonts/Georgia.woff') format('woff'),
          url('../resources/fonts/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}