@import 'colors';

*{
  outline none
}
.c-garden-page {
  font-family 'Open Sans'
  font-size 16px
  color $main-text-color
}

//a.accent {
//  color $accent-text-color
//  text-decoration: underline
//
//  &:hover {
//    text-decoration none
//  }
//}
.both {
  clear both
}
input[type="text"]{
  color $main-text-color
  padding 0 15px
  line-height 40px
  outline none
  border-color $minor-border-color
  box-shadow none
  &:focus {
    outline none
    border-color $minor-border-color
    box-shadow none
  }
}
textarea{
  outline none
  border-color $minor-border-color
  box-shadow none
  resize none
  &:focus {
    outline none
    border-color $minor-border-color
    box-shadow none
  }
}
textarea.form-control{
  outline none
  border-color $minor-border-color
  box-shadow none
  resize none
  &:focus {
    outline none
    border-color $minor-border-color
    box-shadow none
  }
}
::-webkit-input-placeholder {
  color $main-text-color
  font-style italic
  text-overflow ellipsis
  opacity 1
  transition opacity 0.3s ease
}
::-moz-placeholder {
  color $main-text-color
  font-style italic
  text-overflow ellipsis
  opacity 1
  transition opacity 0.3s ease
}
:-moz-placeholder {
  color $main-text-color
  font-style italic
  text-overflow ellipsis
  opacity 1
  transition opacity 0.3s ease
}
:-ms-input-placeholder {
  color $main-text-color
  font-style italic
  text-overflow ellipsis
  opacity 1
  transition opacity 0.3s ease
}
.form-control::-moz-placeholder{
  color $main-text-color
  font-style italic
  text-overflow ellipsis
  opacity 1
  transition opacity 0.3s ease
}
.form-control:-moz-placeholder{
  color $main-text-color
  font-style italic
  text-overflow ellipsis
  opacity 1
  transition opacity 0.3s ease
}
.form-control:-ms-input-placeholder{
  color $main-text-color
  font-style italic
  text-overflow ellipsis
  opacity 1
  transition opacity 0.3s ease
}
.form-control::-webkit-input-placeholder{
  color $main-text-color
  font-style italic
  text-overflow ellipsis
  opacity 1
  transition opacity 0.3s ease
}
:focus::-webkit-input-placeholder {
  opacity 0
  transition opacity 0.3s ease
}
:focus::-moz-placeholder {
  opacity 0
  transition opacity 0.3s ease
}
:focus:-moz-placeholder {
  opacity 0
  transition opacity 0.3s ease
}
:focus:-ms-input-placeholder {
  opacity 0
  transition opacity 0.3s ease
}

.form-control:focus::-moz-placeholder{
  opacity 0
  transition opacity 0.3s ease
}
.form-control:focus:-moz-placeholder{
  opacity 0
  transition opacity 0.3s ease
}
.form-control:focus:-ms-input-placeholder{
  opacity 0
  transition opacity 0.3s ease
}
.form-control:focus::-webkit-input-placeholder{
  opacity 0
  transition opacity 0.3s ease
}

.c-garden-page__header-image {
  width 100%
  height 125px
  border-top 5px $common-border-color solid;
  background url('../resources/images/header-about.jpg') no-repeat fixed center
}

.c-garden-page__title {
  margin 70px auto 50px;
}

.c-garden-page__content {
  padding-bottom: 70px;
  overflow: hidden;
}