// Смартфоны (Портрет)
$portrait-mobile-width = 320px;
// Планшет (Портрет)
$portrait-tablet-width = 768px;
// Планшет (Ландшафтный)
$landscape-tablet-width = 1024px;
// Ноутбук
$notebook-width = 1280px;