mixin navigation
    nav.c-navigation
        .container
            .row
                ul.col-md-5.col-xs-12.c-navigation__menu
                    li.c-navigation__menu-item
                        a.c-navigation__link(href='/') Главная
                    li.c-navigation__menu-item.c-navigation__menu-item--active
                        a.c-navigation__link(href='/about.html') О саде
                        ul.c-navigation__popup-menu
                            li.c-navigation__popup-menu-item
                                a.c-navigation__link.c-navigation__link--popup-menu(href='#') История сада
                            li.c-navigation__popup-menu-item
                                a.c-navigation__link.c-navigation__link--popup-menu(href='#') Юридическое положение
                    li.c-navigation__menu-item
                        a.c-navigation__link(href='/plants.html') Растения
                    li.c-navigation__menu-item
                        a.c-navigation__link(href='/gallery.html') Фотогалерея
                .col-md-2.c-navigation__logo
                    a(href='/')
                        img(src=require('../resources/indi-images/logo.png'))
                ul.col-md-5.col-xs-12.c-navigation__menu
                    li.c-navigation__menu-item
                        a.c-navigation__link(href='/visitors.html') Посетителям
                    li.c-navigation__menu-item
                        a.c-navigation__link(href='/news.html') Новости
                    li.c-navigation__menu-item
                        a.c-navigation__link(href='/partnership.html') Сотрудничество
                    li.c-navigation__menu-item
                        a.c-navigation__link(href='/contacts.html') Контакты
