mixin navigation
    .c-navigation&attributes(attributes)
        a.c-navigation__item(href='/') Главная
        a.c-navigation__item(href='/about.html') О саде
        a.c-navigation__item(href='/plants.html') Растения
        a.c-navigation__item(href='/gallery.html') Фотогалерея
        a.c-navigation__logo LOGO
        a.c-navigation__item(href='/visitors.html') Посетителям
        a.c-navigation__item(href='/news.html') Новости
        a.c-navigation__item(href='/partnership.html') Сотрудничество
        a.c-navigation__item(href='/contacts.html') Контакты
