@import '../../styles/colors.styl';
@import '../../styles/mixins';

/*
 * Высота лого.
 * Пока это самый простой способ выровнять меню по высоте относительно лого
 */
$logo_height = 137px;

.c-navigation {
  padding-top 10px;
  padding-bottom 10px;
  background-color common-background-color;
  color common-text-color
  font-family Georgia
  font-size 14px
}

.c-navigation__link {
  animated();
  text-transform uppercase
  color common-text-color
  padding 10px 5px
  white-space nowrap

  &:focus,
  &:visited {
    color common-text-color
  }

  &:active,
  &:hover {
    color accent-text-color
    text-decoration none
  }
}

.c-navigation__link--popup-menu {
  text-transform none
  color accent-text-color

  &:focus,
  &:visited {
    color accent-text-color
  }

  &:active,
  &:hover {
    color accent-text-color
  }
}

.c-navigation__sub-menu-item {
  box-sizing border-box
  padding-top 10px
  padding-bottom 10px
  text-align left
  text-align-last auto
}

.c-navigation__sub-menu {
  box-sizing border-box
  list-style none
  padding-left 10px
}

.c-navigation__popup-menu-item {
  box-sizing border-box
  padding-top 10px
  text-align left
  text-align-last auto
}

.c-navigation__popup-menu {
  animated()
  position absolute
  top 100%
  transform scaleY(0)
  transform-origin left 0
  background-color accent-background-color
  color accent-text-color
  list-style none
  padding 0
}

.c-navigation__menu {
  line-height $logo_height
  text-align justify
  text-align-last: justify;
}

.c-navigation__menu-item {
  position relative
  display inline-block
  line-height normal
  text-align center
  padding-top 10px
  padding-bottom 10px

  &:hover {
    background-color accent-background-color

    .c-navigation__link {
      color accent-text-color
      text-decoration none
    }

    .c-navigation__popup-menu {
      transform scaleY(1)
    }
  }
}

.c-navigation__logo {
  text-align center
}

.c-navigation__logo-link {
  display inline-block
}
