include ../components/header/header.pug
include ../components/navigation/navigation.pug
include ../components/breadcrumbs/breadcrumbs.pug
include ../components/main-section-title/main-section-title.pug
include ../components/sidebar/sidebar.pug
include ../components/footer/footer.pug

-var data = require('./about.data');

doctype html
html
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Garden|About
        meta(name='description', content= "Official Travnikov's garden site")
    body.c-garden-page
        +header
        +navigation
        .header-image
        +breadcrumbs(data.breadcrumbs)
        .main-section-title__page
            .container
                +main-section-title('О саде', 'c-garden-about__section-icon')
        .content-inner-page
            .container
                .row
                    .col-md-9
                    +sidebar(data.sidebar)
        +footer