@import '../styles/colors.styl';

$substrate-image-offset = 80px

.c-about {
  margin-bottom 70px
}

.c-about__image {
  position relative
}

.c-about__substrate-image {
  position absolute
  z-index 1
}

.c-about__base-image-container {
  position relative
  box-sizing border-box
  padding 15px
  background-color $common-background-color
  z-index 2
}

.c-about__image--left {
  float left
  margin-right ($substrate-image-offset + 30px)
  margin-bottom ($substrate-image-offset + 30px)

  .c-about__substrate-image {
    right -($substrate-image-offset)
    bottom -($substrate-image-offset)
  }
}

.c-about__image--right {
  float right
  margin-left ($substrate-image-offset + 30px)
  margin-bottom ($substrate-image-offset + 30px)

  .c-about__substrate-image {
    left -($substrate-image-offset)
    bottom -($substrate-image-offset)
  }
}

.c-about__garden-statistics {
  margin-bottom 40px
}
