include ../../../../components/hovered-flower/hovered-flower

mixin ours-plants(oursPlants)
    .c-ours-plants
        .container
            +main-section-title('Наши растения', 'c-ours-plants__section-icon')
        .c-ours-plants__gallery
            each plant in oursPlants
                -const background = "background-image:url(" + plant.image+ ")";
                .c-ours-plants__gallery-item(style=background)
                    +hovered-flower('c-ours-plants__gallery-item-link')
        .container
            .row
                .col-md-offset-5.col-md-2
                    button.btn.btn-default Больше фотографий
