mixin header
    .c-header&attributes(attributes)
        .c-header__phone +7 915 191 77 07
        .c-header__email
            a.c-header__link(href="mailto:circleplease@gmail.com" target="_top") circleplease@gmail.com
        .c-header__social
            a.c-header__link.c-header__social-vk(href="#") vk
            a.c-header__link.c-header__social-fb(href="#") fb
            a.c-header__link.c-header__social-tw(href="#") tw
            a.c-header__link.c-header__social-inst(href="#") inst
        .c-header__partners
            a.c-header__link(href="www.mospriroda.ru") www.mospriroda.ru
        .c-header__languages
            p.c-header__language EN
            p.c-header__language |
            a.c-header__link.c-header__language(href="#") RU
