mixin header
    .c-header&attributes(attributes)
        .container
            .row
                .col-md-2
                    i.c-header__element.c-header__element--contact-icon.fa.fa-phone
                    span.c-header__element +7 915 191 77 07
                .col-md-3
                    a.c-header__element.c-header__link(href="mailto:circleplease@gmail.com" target="_top")
                        i.c-header__element.c-header__element--contact-icon.fa.fa-envelope
                        span circleplease@gmail.com
                .col-md-3
                    a.c-header__element.c-header__element--social.c-header__link(href="#")
                        i.c-header__element.fa.fa-vk
                    a.c-header__element.c-header__element--social.c-header__link(href="#")
                        i.c-header__element.fa.fa-facebook
                    a.c-header__element.c-header__element--social.c-header__link(href="#")
                        i.c-header__element.fa.fa-twitter
                    a.c-header__element.c-header__element--social.c-header__link(href="#")
                        i.c-header__element.fa.fa-instagram
                .col-md-3
                    a.c-header__element.c-header__link(href="http://www.mospriroda.ru") www.mospriroda.ru
                .col-md-1.c-header__languages
                    a.c-header__element.c-header__language.c-header__link(href="#") EN
                    span.c-header__language |
                    span.c-header__element.c-header__language.c-header__language--active RU
