mixin header
    header.c-header&attributes(attributes)
        .container
            .row
                span.col-md-4
                    span.c-header__phone-section
                        i.c-header__icon.c-header__icon--contact.fa.fa-phone
                        span +7 915 191 77 07
                    a.c-header__email-section.c-header__link(href="mailto:circleplease@gmail.com" target="_top")
                        i.c-header__icon.c-header__icon--contact.fa.fa-envelope
                        span circleplease@gmail.com
                span.col-md-offset-1.col-md-2.c-header__social-section
                    a.c-header__link.c-header__link--icon.c-header__icon.fa.fa-vk(href="#")
                    a.c-header__link.c-header__link--icon.c-header__icon.fa.fa-facebook(href="#")
                    a.c-header__link.c-header__link--icon.c-header__icon.fa.fa-twitter(href="#")
                    a.c-header__link.c-header__link--icon.c-header__icon.fa.fa-instagram(href="#")
                span.col-md-offset-1.col-md-4
                    span.c-header__partner-section
                        a.c-header__link(href="http://www.mospriroda.ru") www.mospriroda.ru
                    span.c-header__languages-section
                        a.c-header__link.c-header__language(href="#") EN
                        span |
                        span.c-header__language.c-header__element--active-language RU