include sidebar-last-news/sidebar-last-news.pug
include sidebar-menu/sidebar-menu.pug

mixin sidebar(data)
    .col-md-3
        .sidebar-item
            h4.sidebar-item-title=data.menu.title
            +sidebar-menu(data.menu.items)
        .sidebar-item
            h4.sidebar-item-title Последние новости
            +sidebar-last-news
