@import '../../styles/colors.styl';

.sidebar {
  padding-left 15px
  position relative
  &::after {
    content ''
    display block
    width 1px
    background $minor-border-color
    position absolute
    top 0
    left 0
    bottom -9999px
  }
}
.sidebar-item {
  margin-bottom 40px

  &-title {
    color $common-text-color = #367622
    text-transform uppercase
    font-size 18px
    text-align center
    position relative
    font-family 'Georgia'
    margin-bottom 30px
    &::after {
      content ''
      display block
      position absolute
      width 120px
      height 2px
      bottom -10px
      left 50%
      margin-left -60px
      background $common-border-color
    }
  }
}
.sidebar-item-search {
  width 100%
  position relative
  &--input {
    margin-right 48px
    background #fff
    border 1px solid $minor-border-color
    height 40px
    line-height 40px
    width 100%
    padding-right 63px!important
  }
  &--button {
    width 48px
    height 40px
    background $accent-background-color url("../../resources/indi-images/search-icon.png") center no-repeat
    border none
    position absolute
    right 0
    top 0
    transition all ease 0.3s
    &:focus {
      background-color $accent-background-color
      color $accent-text-color
      outline none
    }

    &:hover {
      background-color lighten($accent-background-color, 10%)
      color $accent-text-color
    }
  }
}
