@import '../../styles/colors';
.breadcrumbs{
  font-size 12px
  height 30px
  line-height 30px
  margin-top -30px
  background rgba(54, 117,34,0.5);
  a{
    color $accent-text-color;
  }
  span{
    &::before{
      content " / "
    }
  }
}