mixin breadcrumbs(path)
    .breadcrumbs
        .container
            each element,index in path
                if index === path.length - 1
                    span=element.name
                else
                    a(title=element.name href=element.href)= element.name
