include ../section-title/section-title
include ../bordered-image/bordered-image

mixin photos-archive(photos)
    .photos-archive&attributes(attributes)
        +section-title('Архив фотографий')
        .row
            each photo in photos
                .col-md-4
                    a.photos-archive__photo(href='')
                        +bordered-image(class='photos-archive__photo-image', src=photo)
