@import '../../styles/colors.styl'

$photo-border-color = #fbfbfb

.photos-archive__photo {
  display block
  margin 15px 0
  padding 10px
  border 1px solid $photo-border-color
  text-align center
}

.photos-archive__photo-image {
  width 100%
}
