@import '../../styles/colors.styl'

.photos-archive__photo {
  display block
  margin 15px 0
  padding 10px
  border 1px solid $minor-border-color
  text-align center
}

.photos-archive__photo-image {
  width 100%
}
