.c-plant-images-slider__images {
  margin 15px 10px 0 10px

  .slick-list {
    margin-left 15px
  }
}

.c-plant-images-slider__image {
  margin-right 15px
  cursor pointer
}

.c-plant-images-slider__prev-arrow,
.c-plant-images-slider__next-arrow {
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border none
  outline none
  cursor pointer
}

.c-plant-images-slider__prev-arrow {
  background url('../../../../resources/style-images/plant-images-slider-left.png') no-repeat center
  width 16px
  height 30px;
  left: -16px;
}

.c-plant-images-slider__next-arrow {
  background url('../../../../resources/style-images/plant-images-slider-right.png') no-repeat center
  width 16px
  height 30px
  right: -16px;
}