.c-sidebar-news-subscription {

}

.c-sidebar-news-subscription__intro {
  display block
  margin-bottom 20px
  font-size 14px
}

.c-sidebar-news-subscription__label {
  display block
  margin-bottom 15px
  font-size 14px
  font-style italic
}

.c-sidebar-news-subscription__email {
  display block
  margin-bottom 15px
}

.c-sidebar-news-subscription__subscribe {
  width 100%
}