mixin sidebar-news-subscription
    form.c-sidebar-news-subscription
        span.c-sidebar-news-subscription__intro Чтобы быть в курсе наших последних событий, подпишитесь на новости с помощью формы ниже.
        span.c-sidebar-news-subscription__label Введите Ваш e-mail...
        input.form-control.c-sidebar-news-subscription__email(type='email')
        button.btn.btn-default.c-sidebar-news-subscription__subscribe Подписаться