mixin sidebar-event-calender
    .sidebar-event-calender
        .sidebar-event-calender__calendar-container
            .sidebar-event-calender__calendar
        a.sidebar-event-calender__more_events(href="") Больше мероприятий